* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  color: #31405b;
}

.container {
  margin-left: auto;
  margin-right: auto;

  width: 1170px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.bg-inner {
  background-color: #f2f8f6;
}

.title-medium {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 28px;
  font-weight: 700;
}

.title-micro {
  margin: 0;
  margin-bottom: 12px;

  font-size: 20px;
  font-weight: 700;
}

.button {
  padding: 8px 40px 8px 40px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  text-decoration: none;
  background-color: #0ac883;
  transition: background-color 0.2s easy-in;
  border: 3px solid #0ac883;
  border-radius: 50px;

  display: inline-block;
  cursor: pointer;
}

.button:hover {
  background-color: #15db93b6;
}

.button:active {
  background-color: #07a66c;
}

.button:focus {
  outline: none;
  border: 3px solid #09ce85;
  box-shadow: 0px 0px 10px 0 rgba(51, 148, 112, 0.7);
}

.button-form {
  margin-top: 15px;
  padding-left: 28px;
  padding-right: 28px;

  box-shadow: 0px 8px 20px 0px rgba(24, 219, 148, 1);

  font-family: "PT Sans", sans-serif;
}

/* ----------------------------- HEADER ----------------------------- */

.header {
  position: relative;

  width: 100%;
  height: 800px;
  padding-top: 37px;

  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: #ffffff;
  background-color: #225533;
}

.logo {
  width: 270px;

  font-size: 40px;
  font-family: "Lobster", cursive;
  color: #ffffff;
}

.logo-link {
  color: #ffffff;
  text-decoration: none;
}

.navigation {
  width: 870px;
  padding-top: 11px;

  font-size: 22px;
  color: #ffffff;
  text-decoration: none;
  text-align: right;
}

.navigation-link {
  margin-right: 43px;

  color: #ffffff;
  text-decoration: none;

  display: inline-block;
}

.navigation-link:hover {
  text-decoration: underline;
}

.navigation-link:last-child {
  margin-right: 0;
}

.header-content {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 1170px;

  text-align: center;
}

.header-title {
  margin: 0;
  margin-bottom: 19px;

  font-size: 60px;
  font-weight: 700;
}

.header-subtitle {
  margin: 0;

  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.header-scroll {
  position: absolute;
  left: 50%;
  bottom: 44px;
  transform: translateX(-50%);

  width: 200px;

  text-align: center;
}

.header-scroll-text {
  margin-bottom: 12px;

  font-size: 16px;
  letter-spacing: 0.8px;
}

/* ----------------------------- HEADER-INNER ----------------------------- */

.header-inner {
  padding: 25px 0 29px 0;

  background-image: url(../img/header-inner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ----------------------------- SECTION CONTENT ----------------------------- */

.section-content {
  padding: 104px 0 114px 0;
  line-height: 1.23;
}

.content-row {
  margin-bottom: 100px;
}

.content-row::after {
  content: "";
  display: table;
  clear: both;
}

.content-row:last-child {
  margin-bottom: 0;
}

.content-description {
  width: 470px;
}

.content-img {
  margin-top: 16px;
}

.content-title {
  margin: 0px 0px 30px 0px;

  font-size: 54px;
  font-weight: 700;
}

.content-title-center {
  margin: 0px 0px 70px 0px;
  text-align: center;
}

.content-text {
  margin-bottom: 38px;
}

.content-text p {
  font-size: 20px;
  line-height: 1.6;
}

.content-text a {
  color: #138ece;
}

/* ---------------------- SECTION-CONTENT-INNER --------------------- */

.section-content-inner {
  padding: 61px 0px 131px 0px;
}

/* ----------------------------- CONTACTS ----------------------------- */

.contacts-address {
  margin-top: 30px;
  width: 470px;
}

.contacts-form {
  margin-top: 9px;
  width: 630px;
}

.contacts-list {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  padding-left: 70px;

  list-style-type: none;

  font-size: 20px;
  line-height: 1.6;
}

.contacts-list-item {
  position: relative;

  margin-bottom: 10px;
}

.contacts-list-item::before {
  position: absolute;
  top: 6px;
  left: -48px;

  width: 24px;
  height: 24px;

  content: "";

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.contacts-list-item-phone a,
.contacts-list-item-email a {
  text-decoration: none;
  color: inherit;
}

.contacts-list-item-phone::before {
  background-image: url(../img/icons/phone-solid.svg);
}

.contacts-list-item-email::before {
  background-image: url(../img/icons/envelope-solid.svg);
}

.contacts-list-item-address::before {
  background-image: url(../img/icons/map-marker-alt-solid.svg);
}

.map-holder {
  box-shadow: 0px 10px 20px 0px rgba(211, 211, 211, 1);
}

.map-holder a {
  position: absolute;

  font-size: 12px;
  color: #eee;
}

.map-holder iframe {
  position: relative;

  width: 100%;
  height: 345px;

  border: none;

  display: block;
}

/* ----------------------------- FORM ----------------------------- */

.form {
  margin-bottom: 4px;
  padding: 32px 40px 38px 41px;

  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 10px 20px 0px rgba(211, 211, 211, 1);
}

.formgroup {
  width: 549px;
  margin: 0px 0 15px 0;

  display: inline-block;
}

.input {
  width: 100%;
  height: 50px;

  margin-bottom: 10px;
  padding-left: 20px;

  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  color: #31405b;
  background-color: #eeeeee;
  border: 1px solid #c0c0c0;
  border-radius: 6px;
}

.input::placeholder {
  color: rgba(49, 64, 91, 0.5);
}

.input:focus {
  outline: none;
  border: 2px solid #0ac883;
  box-shadow: 0px 0px 10px 0 rgba(51, 148, 112, 0.5);
}

.form-col-50 {
  width: 50%;
}

.form-col-50:first-child {
  padding-right: 5px;
}

.form-col-50:last-child {
  padding-left: 5px;
}

.label-radio {
  margin-bottom: 15px;

  font-size: 20px;

  display: block;
}

.label-radio:last-child {
  margin-bottom: 0;
}

.custom-radio {
  position: relative;
  margin: 0px 8px 0px 0px;

  width: 20px;
  height: 20px;

  vertical-align: middle;
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(192, 192, 192);
  border-radius: 50%;

  display: inline-block;
  cursor: pointer;
}

.custom-radio::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  width: 12px;
  height: 12px;
  margin: auto;

  content: "";

  background-color: #2ab698;
  border-radius: 50%;

  display: block;
  display: none;
}

.real-radio {
  position: absolute;

  width: 0;
  height: 0;

  display: none;
}

.real-radio:focus + .custom-radio {
  border: 2px solid #0ac883;
  box-shadow: 0px 0px 10px 0 rgba(51, 148, 112, 0.5);
}

.real-radio:checked + .custom-radio::before {
  display: block;
}

.label-checkbox {
  margin-bottom: 15px;

  font-size: 18px;

  display: block;
}

.real-checkbox {
  position: absolute;

  width: 0;
  height: 0;

  display: none;
}

.real-checkbox:focus + .custom-checkbox {
  border: 2px solid #0ac883;
  box-shadow: 0px 0px 10px 0 rgba(51, 148, 112, 0.5);
}

.custom-checkbox {
  position: relative;

  width: 20px;
  height: 20px;
  margin: 0px 9px -4px 0px;

  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;

  display: inline-block;
  cursor: pointer;
}

.custom-checkbox::before {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;

  width: 15px;
  height: 12px;
  margin: auto;

  content: "";

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../img/icons/check-solid.svg);

  display: none;
}

.real-checkbox:checked + .custom-checkbox::before {
  display: block;
}

/* ----------------------------- DESTINATIONS ----------------------------- */

.content-row-wrapper {
  margin-bottom: 30px;
}

.content-row-wrapper img {
  vertical-align: top;
}

.content-row-wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.content-row-wrapper:last-child {
  margin-bottom: 0px;
}

.tour-cover-1 {
  width: 570px;
}

.tour-cover-2 {
  width: 670px;
  margin-bottom: 30px;
}

.tour-cover-2:last-child {
  margin-bottom: 0;
}

.tour-cover-3 {
  width: 470px;
}

.tourname {
  height: 80px;
  padding: 27px 0px 27px 30px;

  font-size: 28px;
  font-weight: 700;
  color: #fff;
  line-height: 0.8;
}

.tourname a {
  text-decoration: none;
  color: inherit;
}

.tourname-freetour {
  background-color: #a6a6a6;
}

.tourname-extremetour {
  background-color: #c1b19b;
}

.tourname-adventure {
  background-color: #66b0be;
}

.tourname-hiking {
  background-color: #876f56;
}

.tourname-junglestour {
  height: 85px;

  background-color: #27695e;
}

/* ----------------------------- PERRSONAL-ARTICLES ----------------------------- */

.section-left {
  width: 270px;
  padding-top: 6px;
}

.section-left ul {
  margin-top: 29px;
  padding: 0;
}

.section-left ul:last-child {
  border-bottom: 1px solid rgb(214, 217, 216);
}

.section-left-article {
  font-size: 20px;
  line-height: 1.35;
  list-style-type: none;
  border-top: 1px solid rgb(214, 217, 216);
}

.section-left-article a {
  padding: 14px 0;

  color: #138ece;
  text-decoration: none;

  display: block;
}

a.hiking-color {
  color: #e04e4e;
  font-weight: 700;
}

.section-right {
  width: 770px;
}

.section-right h3 {
  margin: 0;
  margin-bottom: 28px;

  font-size: 54px;
  font-weight: 700;
}

.section-right p {
  margin: 0;
  margin-bottom: 15px;

  font-size: 20px;
  line-height: 1.6;
}

.section-right p:first-of-type {
  margin-bottom: 32px;
}

.section-right p:last-child {
  margin-bottom: 0px;
}

.section-right div {
  margin-bottom: 31px;
}

p a {
  color: #138ece;
}

/* ----------------------------- FOOTER ----------------------------- */

.footer {
  width: 100%;
  padding: 79px 0px 100px 0px;

  color: #ffffff;
  background-color: #265847;
}

.footer-left {
  width: 270px;
}

.footer-logo {
  margin-bottom: 18px;

  font-size: 40px;
  font-family: "Lobster", cursive;
}

.footer-about {
  font-size: 16px;
  line-height: 1.625;
}

.footer-right {
  max-width: 870px;
}

.footer-right::after {
  content: "";
  display: table;
  clear: both;
}

.footer-col {
  margin-right: 29px;

  font-size: 18px;
  float: left;
}

.footer-col-info {
  width: 200px;
}

.footer-col-services {
  width: 240px;
}

.footer-col-contacts {
  width: 200px;
}

.footer-col:last-child {
  margin-right: 0;
}

.footer-title {
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 700;
}

.footer-col-contacts a {
  text-decoration: none;
  color: inherit;
}

.footer-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
  line-height: 1.5;
}

.footer-list-item {
  margin-bottom: 10px;
}

.footer-list-link {
  color: #ffffff;
  text-decoration: none;
}

.footer-list-link:hover {
  text-decoration: underline;
}
